/**********************
  Sara Fernández Arias - UO269546
  Estilos aplicados en el docummento Ejercicio1.html
**********************/
/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #2B1834;
    background-color: #CBA4B2;
    }
  /*Especificidad: 001*/
  h1,h2,h3,h4 {
    color: #F4EBEE;    
    background-color:#653E4E; 
    text-transform: uppercase;
    padding: 2em; 
    font-style: oblique;
}
/*Especificidad: 001*/
 h1{
        font-size: 4em;
}


/*Especificidad: 001*/
p{
    font-size: 1.3em;
    color: #2B1834;
    /*Esta regla produce un warning en el validador, enunciando que no hay color de fondo. Esto no es así, 
    ya que este elemento heredará el color de fondo de su elemento padre, en este caso, body.*/
}

