/**********************
  Sara Fernández Arias - UO269546
  En este documento , se detalla la disposición de los diferentes elementos del ejercicio 11
 
  **********************/
  /**Especificidad: 001 **/
  /**Especificidad: 001 **/
  main{

    display:grid;
    grid-template-columns:repeat(3, 1fr);
    
    
}
/*Especificidad 001*/
h1{
   
    grid-row: 1;
    font-size: 3em;
 
}

/**Especificidad: 001 **/ 
body{
    text-align:center;   
    background-color: #073C15;
    color:#FFFFFF;
}

/**Especificidad: 001 **/
section{

    grid-column: 2;
    align-items:center;
    background-color: #FFFFFF;
    color:#073C15;
    border-style: groove;
    margin:0.7vw;
    padding:3vw;
    font-size:1.4em;
}
/**Especificidad: 001 **/
footer,h1{
    grid-column: 1/4;
    justify-self: center;
}
/**Especificidad: 001 **/
footer{
    font-size: 2em;
}