/**********************
  Sara Fernández Arias - UO269546
  En este documento , se detalla la disposición de los diferentes elementos estructurales de la calculadora básica. 
  En este, se indica su posicionamiento visual en la página.
  Por lo general, en este documento se usarán medidas relativas al viewport,
  descritas en CSS Values and Units Module Level 3, apartado 5.1.2
  **********************/


/**Especificidad: 011 **/
textarea[name="pilaOperandos"]{
    grid-column: 1 / 6;
    grid-row: 1/3;
    background-color:#FEC7FF;
    font-size: 2em;
    border-style:hidden;
    text-align:left;

  }
 
/**Especificidad: 011 **/
textarea[name="operandoActual"]{
    grid-column: 1 / 6;
    grid-row: 3;
    background-color:#FEDBFF;
    font-size: 3em;    
    border-style:hidden;
    text-align:right;
  } 
  /**Especificidad: 011 **/
  input[type="button"]{ 
   
    font-size: 1.2em;
    padding:1.2vw;  
  

    color:#FFFFFF;
    background-color: #68655E;

    border-radius:  1.2vw;
    border-color: #5B5852;
    border-width: 0.9em;
   
  }

  /**Especificidad: 011 **/
input[name="borrarDigito"]{
  grid-column:span 2;
 
}

  /**Especificidad: 011 **/
  input[name="c"]{
    grid-row:span 2;
   
  }
  
  /**Especificidad: 011 **/
  input[name="enter"]{
    grid-column:span 3;
  color:#000000;
}

  /**Especificidad: 011 **/
  input[name="0"],input[name="1"],input[name="2"],input[name="3"],input[name="4"],input[name="5"],input[name="6"],input[name="7"],input[name="8"],input[name="9"]{
  
    background-color:#FEDBFF;
    border-color: #FEC7FF;
    color:#000000;

   }
    /**Especificidad: 011 **/
    input[name="bin"],input[name="oct"],input[name="dec"],input[name="hex"],input[name="baseX"],input[name="enter"],input[name="ce"],input[name="c"],input[name="borrarDigito"],input[name="ms"],input[name="mc"],input[name="mr"],input[name="mrestar"],input[name="msumar"]{
   background-color:#201F1D;
   color:#FD94FF;
  }
  /**Espacificidad:011*/
  input:disabled{ 
   
    border:hidden;
  }
  
  /**Especificidad: 001 **/
  form {
      color:#000000;
      display:grid;
      background-color: #2C2C25;
      grid-template-columns:repeat(5, 1fr);
      grid-column-gap:0.5em;
      grid-row-gap:0.5em;
      padding:3vw;
      
  }
  /**Especificidad: 001 **/ 
  body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }
  